/*------------------------   RESPONSIVE   ---------------------------*/
@media (max-width: 750px) {
    .homepage-intro-L {
        display: none;
    }
    .homepage-gallery {
        display: none;
    }
    .homepage-search-L {
        display: none;
    }
}

@media (min-width: 750px) {
    /*HOMEPAGE INTRO*/
    .homepage-intro {
        display: none;
    }
    /*HOMEPAGE PRESENTATION*/
    .logo-title {
        width: 600px;
    }
    .logo-doc {
        width: 80px;
        top: -50px;
        left: 65px;
        transition: 1s ease-in-out;
    }
    .homepage-presentation h1 {
        margin-bottom: 20px;
    }
    .homepage-presentation p {
        line-height: 1.2;
        max-width: 600px;
    }
    .homepage-slider {
        display: none;
    }
    /*SEARCH*/
    .homepage-search {
        display: none;
    }
}


@media (min-width: 1200px) {
    .homepage-presentation {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 30px;
    }
    .hp-text {
        align-items: start;
    }
    .logo-doc {
        width: 80px;
        top: -50px;
        left: 350px;
        transition: 1s ease-in-out;
    }
    .homepage-presentation p {
        line-height: 1.2;
        max-width: 600px;
    }
    .homepage-gallery {
        height: 400px;
        width: 450px;
        margin: 10px;
    }
    .img-gallery1 {
        width: 280px;
    }
    .img-gallery2 {
        width: 280px;
    }
    .img-gallery3 {
        width: 280px;
    }


    /*SEARCH*/
    .homepage-search {
        display: none;
    }
    .homepage-search-L {
        flex-direction: row;
        gap: 0px;
    }
    .interractive-intro h3 {
        padding-left: 50px;
    }
    .interractive-intro p {
        text-align: start;
        padding: 0px 0px 0px 50px;
    }
}