
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background: linear-gradient(90deg, #143447, #2B495A);
    background-size: cover;
    height: 100vh;
}


/* HEADER */
.header-s {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background-color: #143447;
    z-index: 10;
}
.btn-tr {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav-burger {
    position: absolute;
    top: 0;
    right: 0;
    font-family: poppins;
    color: aliceblue;
    margin-top: -170px;
    padding: 20px;
    background-color: #143447;
    text-align: center;
    line-height: 2;
    border-radius: 0px 0px 0px 15px;
    transition: 0.5s ease-in-out;
    z-index: 9;
}
.nav-burger ul li {
    list-style: none;
}
.nav-burger ul li a {
    text-decoration: none;
    color: aliceblue;
}
.user-profile-btn, .doc-profile-btn{
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px 10px;
}

/* HEADER format XL */
.header-xl {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #143447;
    z-index: 10;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    list-style: none;
    font-family: Teachers;
    font-size: 24px;
    padding-right: 85px;
}
.header-xl ul li a {
    color: aliceblue;
}
.logo-site {
    max-height: 70px;
}

.header-xl a {
    text-decoration: none;
}
.btn-style {
    position: relative;
    background-color: #1e1e1e;
    border: 3px solid #848484;
    border-radius: 20px;
    padding: 0px 15px 0px 35px;
    font-family: Teachers;
    font-size: 18px;
    margin-right: 20px;
    color: aliceblue;
}
.btn-style-c {
    position: absolute;
    bottom: -3px;
    left: -3px;
    background-color: rgba(255, 0, 0, 0);
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px solid #848484;
}
.btn-style-c2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(121, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid #000000;
}
.btn-style-bgm {
    position: relative;
    background-color: #1e1e1e;
    border: 3px solid #848484;
    border-radius: 20px;
    padding: 0px 15px 0px 15px;
    font-family: Teachers;
    font-size: 18px;
    color: aliceblue;
    margin-top: 15px;
}
.login-pro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*MODAL*/
.modal {
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.show {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: auto;
    width: 350px;
    background-color: #B8B8B8;
    border: 3px solid #B8B8B8;
    text-align: center;
}
.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    background: linear-gradient(90deg, #000382, #1084d0);
    width: 100%;
}
.btn-close-modal {
    font-family: Teachers;
    font-weight: bold;
    margin: 3px 0px;
    padding: 0px 3px;
    cursor: pointer;
}

.modal-title {
    text-align: center;
    font-family: Teachers;
    font-size: 24px;
    margin-top: 15px;
}

.modal-content form {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
.info-modal {
    font-family: Teachers;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}
.section-form-register {
    margin: 25px 0px;
}
.info-modal input {
    padding: 3px 10px;
    text-align: center;
    width: 200px;
}
.info-modal-select {
    font-family: Teachers;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}
.info-modal-select label {
    font-family: Teachers;
}
.info-modal-select select {
    font-family: Teachers;
    padding: 3px 10px;
}
.btn-log {
    margin-top: 10px;
    padding: 5px 10px;
    font-family: Teachers;
    font-size: 18px;
    cursor: pointer;
}
.modal-footer {
    padding-top: 10px;
    font-family: Teachers;
    text-align: center;
    font-size: 14px;
}



/*FOOTER*/
footer {
    margin-top: 50px;
    padding: 20px 10px;
    background-color: #1e1e1e;
    font-family: poppins;
    color: aliceblue;
}
.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
    height: 160px;
}
.footer-about {
    text-align: center;
    width: 250px;
}
.footer-about p {
    font-size: 14px;
}
.footer-links {
    text-align: center;
}
.footer-links li {
    list-style: none;
}
.footer-links li a {
    color: aliceblue;
    transition: 0.4s ease-in-out;
}
.footer-links li a:hover {
    transition: 0.4s ease-in-out;
    color: rgb(255, 73, 73);
}

.contact-us {
    text-align: center;
    font-size: 14px;
}
.all-right {
    text-align: center;
    margin-top: 10px;
}


/* ///////////////////////   HOMEPAGE   ///////////////////////////*/



/* INTRO HOMEPAGE */
.homepage-intro{
    margin-top: 70px;
    position: relative;
    max-width: 750px;
    padding: 30px 20px 30px 20px;
}

.intro-model01{
    width: 100%;
    border-radius: 15px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.50);
}

.line-tr1 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    width: 70%;
    top: 50%;
    background-color: #e240317e;
}
.line-op1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E24031;
    width: 80%;
    height: 30px;
}
.line-tr1 h2 {
    color: aliceblue;
    font-family: poppins;
    font-size: 12px;
}

.line-tr2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: absolute;
    width: 70%;
    top: 62%;
    right: 20px;
    background-color: #30abb477;
}
.line-op2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #30ACB4;
    width: 80%;
    height: 30px;
}
.line-tr2 h2 {
    color: aliceblue;
    font-family: poppins;
    font-size: 12px;
}

.homepage-intro button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 10px;
    background-color: #DE6E52;
    padding: 5px 10px;
    color: aliceblue;
    font-size: 16px;
    filter: drop-shadow(5px 5px 2px black);
    font-family: Teachers;
}

/* INTRO HOMEPAGE tablette & desktop */
.homepage-intro-L {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
    background: url(/assets/images/intro-banner-XL.png);
    background-size: cover;
    height: 450px;
    background-position: center;
}

.title-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 1000px;
}
.title-display h2 {
    text-align: center;
    font-family: poppins-bold;
    font-size: 36px;
}
.title-display button {
    text-align: center;
    border: none;
    border-radius: 15px;
    font-family: Teachers;
    font-size: 24px;
    color: aliceblue;
    background-color: #E24031;
    padding: 5px 10px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.493));
}



/* PRESENTATION HOMEPAGE */
.homepage-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 40px 20px;
    text-align: center;
}
.hp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-title {
    position: relative;
    width: 200px;
}
.homepage-presentation h1 {
    font-family: poppins-bold;
    font-size: 34px;
    color: aliceblue;
    line-height: 1.1;
}
.red-span {
    color: red;
}
.logo-doc {
    position: absolute;
    top: -30px;
    left: 3px;
    width: 56px;
}

.homepage-presentation p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    font-family: poppins;
    line-height: 1.1;
}

.homepage-slider {
    margin-top: 30px;
}
.homepage-slider img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.50);
}

/*PRESENTATION HOMEPAGE tablette & desktop */
.homepage-gallery {
    position: relative;
    height: 580px;
    width: 600px;
    margin: 50px;
}
.img-gallery1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    border-radius: 15px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.50);
}
.img-gallery2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    width: 360px;
    border-radius: 15px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.50);
    z-index: 5;
}
.img-gallery3 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 360px;
    border-radius: 15px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.50);
}


/* SEARCH HOMEPAGE */
.homepage-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #143447;
}

.homepage-search h3 {
    color: aliceblue;
    font-family: poppins;
}

.regions-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.homepage-search #regions-select {
    padding: 5px 10px;
    font-family: poppins;
    font-size: 14px;
}
.homepage-search #regions-select option {
    font-family: poppins;
    font-size: 14px;
}
.regions-form button {
    font-family: poppins;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #E24031;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.50);
}

/*SEARCH HOMEPAGE tablette & desktop */
.homepage-search-L {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: #143447;
}
.interractive-intro h3 {
    font-family: Teachers;
    font-size: 34px;
    color: aliceblue;
    padding-top: 15px;
}
.interractive-intro p {
    font-family: poppins;
    font-size: 16px;
    color: aliceblue;
    line-height: 1.2;
    margin-top: 25px;
    max-width: 800px;
    padding: 0px 50px 0px 50px;
    text-align: center;
}

/*CONTACT HOMEPAGE*/
.homepage-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-form {
    max-width: 400px;
    margin-bottom: 30px;
}
.title-form h4 {
    color: aliceblue;
    font-family: poppins;
    font-size: 24px;
    text-align: center;
}
.title-form p {
    color: aliceblue;
    font-family: poppins;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.full-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    background-color: #9F4D38;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.50);
}
.part-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.part1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.part2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-input {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
    width: 100%;
    font-family: poppins;
    color: aliceblue;
}

.form-input input {
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
}

.form-input textarea {
    border-radius: 5px;
}

.full-form button {
    border: none;
    background-color: #D9D9D9;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: poppins;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.493);
}



/* ///////////////////////   ABOUT   ///////////////////////////*/
.about-zen {
    margin-top: 70px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 50px 35px;
    gap: 50px;
}

.about-zen h2 {
    color: aliceblue;
    font-family: Teachers;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.about-zen p {
    color: aliceblue;
    font-family: poppins;
    line-height: 1.2;
    text-align: center;
}

.about-zen img {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.493);
}


/* ///////////////////////   SEARCH   ///////////////////////////*/

.search-filter {
    margin-top: 110px;
    background-color: grey;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search-doctor-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 30px;
}


.first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-doctor-form .style-search {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.style-search p {
    background-color: #9F4D38;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Teachers;
    font-size: 20px;
    color: aliceblue;
    width: 100%;
    text-align: center;
}
.style-search input[type="number"] {
    -moz-appearance: textfield;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    font-family: Teachers;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.style-search input {
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    font-family: Teachers;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.style-search select {
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    font-family: Teachers;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.billing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Teachers;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.billing-method {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.gender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Teachers;
    font-size: 18px;
}
/* DOCTOR CARDS */
.doctor-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px 50px 20px;
}
.doctor-card {
    position: relative;
    background-color: aliceblue;
    width: 400px;
    border-radius: 20px 0px 20px 0px;
    border: 2px solid #1e1e1e;
    padding: 5px 5px 15px 0px;
}
.doc-img-profil img {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 150px;
    border-radius: 30px 0px 30px 0px;
    border: 3px solid #1e1e1e;
}

.doc-name {
    margin-left: 140px;
    font-family: Teachers;
}
.doc-name span {
    font-size: 18px;
    font-weight: bold;
}
.doc-name h1 {
    color: #008CFF;
    font-size: 24px;
    font-weight: bold;
}
.doc-name h2 {
    font-size: 18px;
    font-weight: normal;
}

.doc-information {
    margin-top: 5px;
    margin-left: 140px;
    font-family: Teachers;
}
.doc-information p {
    font-size: 15px;
}
.doc-adress {
    margin: 0px 0px 10px 10px;
    font-family: Teachers;
}
.complet-adress {
    height: 40px;
    overflow-y: auto;
}
.doc-adress span {
    text-decoration: underline;
}
.doc-tel {
    margin-top: 5px;
}
.doc-bis {
    margin-left: 10px;
    font-family: Teachers;
}
.doc-bis2 {
    margin-left: 10px;
    font-family: Teachers;
    margin-bottom: 10px;
}


/* ///////////////////////   USER PROFIL   ///////////////////////////*/
.profil-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.user-card {
    position: relative;
    width: 370px;
    background-color: #F5F5F5 ;
    border-radius: 10px;
    font-family: Teachers;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
}

.img-user {
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
    width: 100px;
    border-radius: 15px 0px 15px 0px;
    border: 2px solid aliceblue;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.445);
}

.user-card figcaption {
    margin-left: 90px;
    padding: 15px;
}

.user-card figcaption h1 {
    color: #008CFF;
    text-decoration: underline;
}

.user-card figcaption .adress-user {
    margin: 10px 0px
}
.btn-mod-user {
    background-color: #E9E9ED;
    border: 1px solid #8F8F9D;
    font-family: poppins;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
}

.pm-user { 
    margin-bottom: 10px;
}

.user-doctor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 10px 0px 10px;
    max-width: 740px;
    background-color: #9c9c9c ;
    border-radius: 10px;
    font-family: Teachers;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
}

.user-doctor .title-spe {
    padding-top: 15px;
    text-align: center;
}
.btn-supr-doc {
    margin-top: 10px;
    margin-left: 10px;
    font-family: poppins;
    padding: 0px 5px;
    cursor: pointer;
}

.user-doctor-appt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    max-width: 740px;
    background-color: #9c9c9c ;
    border-radius: 10px;
    font-family: Teachers;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
}
.user-doctor-appt .title-spe{
    padding-top: 15px;
    text-align: center;
}
.my-appt {
    padding: 15px;
    margin: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 370px;
    height: 210px;
}

.info-doctor {
    margin: 0px 0px 10px 0px
}

.list-rdv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-supr-appt {
    margin-top: 10px;
    font-family: poppins;
    padding: 0px 5px;
    cursor: pointer;
}



/* ///////////////////////   DOCTOR PROFIL   ///////////////////////////*/

.btn-mod-doctor {
    margin-left: 10px;
    background-color: #E9E9ED;
    border: 1px solid #8F8F9D;
    font-family: poppins;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
    cursor: pointer;
}


/* ///////////////////////   USER UPDATE   ///////////////////////////*/
.update-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}
.update-user figcaption h1 {
    font-size: 46px;
}
.form-update-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Teachers;
}
.user-card-update {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 120px;
    margin-bottom: 0px;
    background-color: #9c9c9c ;
    max-width: 550px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.473);
}

.img-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.img-update {
    object-fit: contain;
    width: 150px;
    border-radius: 15px;
    border: 2px dashed black;
}
.upload-btn-img {
    margin-left: 10px;
    background-color: #E9E9ED;
    border: 1px solid #8F8F9D;
    font-family: poppins;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    font-weight: lighter;
    cursor: pointer;
}

.adress-user {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px 0px 20px 0px;
    font-size: 18px;
}
.adress-user input {
    padding: 5px;
    width: 300px;
    text-align: center;
}

.adress-user div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* UPDATE DOCTOR */
.input-hours {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.input-hours p input{
    width: 80px;
}

.selector-dispo select {
    margin-top: 10px;
    padding: 2px 10px;
    font-family: Teachers;
    font-size: 18px;
}





/* ///////////////////////   ???   ///////////////////////////*/
